.navbar{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: fixed;

}
.imageStart{
  height: 70vh;
  background-image:  linear-gradient(341deg, #011536 0%, rgba(0, 0, 0, 0) 100%),
   url("../img/background.jpg");
}
.infoContainer{
  padding: 4rem;
  width: 40rem;
  text-align: center;
  margin: auto;
  color: white;
}
.rankingTable{
  margin-top: 2rem;
  background-color: rgb(5, 5, 5);
  margin-bottom: 5rem;
}
.tituloRanking{
  border-radius: 25px;
  width: 15rem;
  background: rgb(255, 255, 255);
  background: linear-gradient(341deg, #000000 0%, #011536 80%);
  padding:0.7rem ;
  display: flex;
  justify-content: center;
  align-items:center ;
 

}

.tituloRanking a{
  color: rgb(255, 255, 255) !important;
  margin: 0px;
  font-size: 20px;
}